<div style="font-family: calibri;color:black;font-size:140%;font-weight:bold">User Name: <input type="text" ng-model="username" placeholder="eg: abc@<domain>.com"><br></div>
<div style="font-family: calibri;color:black;font-size:140%;font-weight:bold">Password  :  <input type="password" ng-model="password" placeholder="********"><br><br></div>
<div><button ng-click="logOn()" style="font-family: calibri;">Logon</button></div>
<div><a href="dynamic.html" style="font-family: calibri;">Logon</a></div>

<span data-ng-bind="errorMsg"></span><br>

<p style="font-family: calibri;color:black;font-size:120%">New here?, please <a href="#signup" class="btn btn-link">Signup</a></p>