<script>
google.load('visualization', '1', { 'packages': ['map'] });
google.setOnLoadCallback(drawMap);
</script>
	<script src="js/controller.js"></script>
	<script src="js/chart.js"></script>
<table>
<tr>
       <div class="row">
          <div class="col-md-9" id="line-chart" ng-controller="LineCtrl">
            <div class="panel panel-default" >
              <select ng-model="selec">
                <option value="aapl">AAPL(Apple)</option>
                <option value="goog">GOOG(Google)</option>
                <option value="amzn">AMZN(Amazon)</option>
              </select>
              <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="data" labels="labels" legend="true"
                click="onClick()" series="series"></canvas>
              </div>
            </div> 
          </div>

          <div class="col-md-3" id="txtfield" ng-controller="LineCtrl">
            <form class="form-horizontal" role="form">
             <div class="form-group">
              <label for="dates" class="col-sm-7 control-label">Date</label>
              <div class="col-sm-5">
               <input type="text" class="form-control" id="dates" ng-model="selecDate"
               placeholder="  "  readonly>
             </div>
</tr>
<tr>
	<td style="font-family: calibri;color:black;font-size:120%;font-weight:bold">Enter the company Code for Stock Quote: <input type="text" id="companyname"></td>
	
	<td><img src="http://chart.finance.yahoo.com/z?s="+companyname+"&t=3m&q=l&z=l&p=m50,m200" width=100% height=100%></td>	
</tr>

<tr>
	<td style="font-family: calibri;color:black;font-size:120%;font-weight:bold">Comparision between top companies and Capgemini: </td>
	<td><img src="https://chart.googleapis.com/chart?chs=450x300&chd=t:18,82&cht=p3&chl=Capgemini|Top%20Competitors" width=30% height=30%></td>
</tr>
<tr>
	<td colspan="2">
		<div id="chart_div"></div>
	</td>
</tr>
<tr>
	<td colspan="2" align="center">
		
		<a href="#login" class="btn btn-link" style="font-family: calibri;">LogOut</a>
	</td>
</tr>
<tr>
	<td colspan="2">
		Tweet to <a href="https://twitter.com/intent/tweet?screen_name=CAPGEMINIFOLLOWER" class="twitter-mention-button" data-lang="en">@CAPGEMINIFOLLOWER</a> about your thoughts on stock prices!
	</td>
</tr>
</table>